.hero__container {
  position: relative;
  height: 90vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.hero__text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__text--main {
  font-size: 5rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 4rem;
  margin-bottom: 2rem;
  border-left: 4px solid rgb(255, 255, 255);
  padding: 1rem;
  color: rgb(211, 144, 0);
}
.transaction-label,
.portal-label {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

.hero__text--sub--container {
  border-right: 4px solid rgb(255, 255, 255);
  border-left: 4px solid rgba(255, 255, 255, 0);

  margin-bottom: 1rem;
  padding: 0 1rem;
}

.hero__text--sub {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.hero__text--sub-2 {
  padding-left: 8rem;
}
.hero__text--sub-3 {
  padding-left: 13rem;
}
.hero__btn--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-right: 4px solid rgb(255, 255, 255);
  padding: 0 1rem 0 20rem;
}
.hero__btn {
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.302);
  color: rgb(0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
}
.hero__btn:hover {
  background-color: rgb(211, 144, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.302);
}
.hero__btn:active {
  box-shadow: 0 2px 3px rgba(118, 118, 118, 0.302);
}
@media screen and (max-width:1200px){
  .hero__btn--container {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 500px){
  .hero__container {
    grid-template-columns: 1fr;
  }
  .hero__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__text--main {
    font-size: 3rem;
  }
  .transaction-label,
  .portal-label {
    font-size: 2.8rem;
  }
  
  .hero__text--sub--container {
    border-left: 4px solid rgb(255, 255, 255);
    border-right:none;
    margin-bottom: 3rem;
  }
  
  .hero__text--sub {
    font-size: 1.2rem;
  }
  .hero__text--sub-2 {
    padding-left: 0rem;
  }
  .hero__text--sub-3 {
    padding-left: 0rem;
  }
  .hero__btn--container {
    padding: 0 1rem 0 0rem;
  }
  .hero__btn {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.302);
    color: rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
  }
}