.nav__container {
  /* border: 1px solid #fff; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.809);
  color: #fff;
}
.nav__logo {
  /* border: 1px solid #fff; */
  font-size: 2rem;
  font-weight: 600;
}
.logo-label {
    color: rgb(211, 144, 0);
}
.nav__links--pages {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.nav__pages--label {
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.nav__pages--label::after {
  display: block;
  content: "";
  position: absolute;
  top: 2rem;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: rgb(211, 144, 0);
  transition: 0.3s ease-in;
  transform: scaleX(1);
}
.nav__pages--label:hover::after,
.nav__pages--label:active::after {
  width: 100%;
  transform: scaleX(1);
}
.nav__links {
  /* border: 1px solid #fff; */
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav__link {
  text-align: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.nav__link:hover {
  background-color: rgb(211, 144, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.302);
}
.nav__link:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.302);
}
